    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <br/>
                <p>
                  As specialists in the trade, we offer the very best roofing services, from repairs to replacement.
                  <br>
                  We have extensive industry knowledge and years of experience, and we are confident we can provide a solution whatever your building or roofing concerns. 
                  <br>
                  From bespoke services for more complex cases to simple fixes, we want to help all members of our community and bring our fantastic customer service and friendly reassurance to you. 
                </p>
                <br/>
              </div>
        </div>
    </section>
